 <!--::our client part start::-->
 <section class="client_part padding_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <p>OUr Client</p>
                    <h2>Worldwide Partners</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="client_logo owl-carousel">
                    <div class="single_client_logo">
                        <img src="img/client_logo/Logo_1.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/Logo_2.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/Logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/Logo_4.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/Logo_5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::our client part end::-->