<%- include('./partials/header.ejs') %> 

<%- include('./partials/breadcumb.ejs') %>

	<style>
		.img-fluid {
			/* max-width: 100%; */
			height: 400px !important;
		}
		.letter{
			font-size: 250%;
			color:rgb(19, 17, 24);
			font-family: Georgia, 'Times New Roman', Times, serif;
		}
	</style>
    <!-- feature_part start-->
    <div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="row ">
					<div class="col-md-6  d-flex justify-content-center">
                        <div >
							<img src="img/vikgraham.jpg" alt="" class="img-fluid w-70">
							<div class="mt-2">
								<h4>Doc (Mrs) Graham Victoria Nsiska</h4>
									<h5 class="mb-30">Founder </h5>
							</div>
						</div>
					</div>
					<div class="col-md-6 mt-sm-20 mt-5">
						<p><span  class="letter">V</span>ictoria Graham, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer money to them through any US bank or payment system. As a result of this law, most
							of the popular
							online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
							online casino
							players found themselves being chased by the Federal government. But, after a fortnight, the
							online casino
							industry came up with a solution and new online casinos started taking root. These began to
							operate under a
							different business umbrella, and by doing that, rendered the transfer of money to and from
							them legal. A major
							part of this was enlisting electronic banking systems that would accept this new
							clarification and start doing
							business with me. Listed in this article are the electronic banking systems that accept
							players from the United
                            States that wish to play in online casinos.
                        </p>
					</div>
				</div>
            </div>
            <div class="section-top-border">
				<h3 class="mb-30 text-primary">Our Focus</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">Definition 01</h4>
							<p>Recently, the US Federal government banned online casinos from operating in America by
								making it illegal to
								transfer money to them through any US bank or payment system. As a result of this law,
								most of the popular
								online casino networks</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">Definition 02</h4>
							<p>Recently, the US Federal government banned online casinos from operating in America by
								making it illegal to
								transfer money to them through any US bank or payment system. As a result of this law,
								most of the popular
								online casino networks</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">Definition 03</h4>
							<p>Recently, the US Federal government banned online casinos from operating in America by
								making it illegal to
								transfer money to them through any US bank or payment system. As a result of this law,
								most of the popular
								online casino networks</p>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>

    <!--::our client part start::-->
    
    <!--::our client part end::-->


<%- include('./partials/footer.ejs') %> 